astroid==3.2.2
attrs==23.2.0
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
dill==0.3.8
exceptiongroup==1.2.1
h11==0.14.0
idna==3.7
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
outcome==1.3.0.post0
packaging==24.0
-e git+https://github.com/rossop/pdf-scraper.git@e9d56b2ec304d02bd1b65a8859419069912240c7#egg=pdf_scraper
platformdirs==4.2.2
pluggy==1.5.0
pylint==3.2.2
PySocks==1.7.1
pytest==8.2.1
pytoolconfig==1.3.1
requests==2.32.1
rope==1.13.0
selenium==4.21.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
tomli==2.0.1
tomlkit==0.12.5
trio==0.25.1
trio-websocket==0.11.1
typing_extensions==4.11.0
urllib3==2.2.1
wsproto==1.2.0
